body{
    background: rgb(33, 33, 33);
    color: #ededed;
}
.logo1{
    height: 75px;
}
#nav1{
    background: rgba(26, 23, 27, 0.6);
    color: #ededed;
    font-size: 14px;
}
.text1{
    text-align: center;
    background: #161616;
    height: 250px;
}
.text2{
    text-align: center;
    background: #161616;
    height: 250px;
}
.buttons{
    font-size: 40px;
}
.buttons i{
    color: gold;
}
.carousel-item img{
    height: 800px;
}
.carouselhome{
    margin-top: 50px;
    width: 1199.03px;
    margin-left: 350px;
}
.footer {
    position: relative;
    top: 60px;
}
.linkjes{
    margin-top: 25px;
}
.contact{
    font-size: 30px;
}
.contact a {
    color: #ededed;
}


.members{
    margin-left: 25px;
    margin-top: 25px;
}
.card-body{
    background: black;
}
.member{
    height: 457.5px;
}

.album{
    height: 23rem;
}

.open-air{
    height: 600px;
    width: 1067px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.aangekondigd{
    background: #161616;
    text-align: center;
    height: 300px;
}
.cruise_img{
    margin-left: 350px;
}
.contact_form{
    width: 600px;
    background: #161616;
    border-radius: 10px;
    margin-left: 650px;
    margin-top: 50px;
    height: 700px;
}
.contact_form_inner{
    width: 550px;
    padding-top: 25px;
    margin-left: 25px;
}

.nieuws-nav{
    background: #282828;

}
.categorie{
    margin-top: 25px;
    margin-left: 325px;
    background: #282828;

}
.categorie-banner{
    background: #a46c13;
    text-align: center;
    border-radius: 10px;

}
.carouselnews{
    width: 1066.67px;
    margin-left: 87px;
}
.button-play{
    background: #a46c13;
}
.reacties-banner{
    margin-top: 50px;
    background: #a46c13;
    text-align: center;
    border-radius: 10px;
}
@media (max-width: 1590px) {
    .carouselhome{
        margin: 0;
     width: 100%;
    }
    .carousel-item img{
        height: auto;
    }
    .open-air{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .text1{
        height: 300px;
    }
    .text2{
        height: 400px;
    }
    .aangekondigd{
        height: 500px;
    }
    .cruise_img{
        margin: 0;
    }
    .contact_form{
        margin:0;
    }
    .contact_form_inner{
        margin: 0;
    }
    .carouselnews{
        width: auto;
        margin:0;
    }
    .categorie{
        margin: 0;
    }
}